/* .eventEdit
{
    padding: 0%;
  margin: 0%;
  box-sizing: border-box;
    
    margin-top: 20vh;
}
.eventEditp
{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.eventEditForm
{
    margin-left: 70vh;
    border: 1px solid black;
    height: 350px;
    width: 400px;
    padding:50px;
  

}

.eventEditl
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
}
.eventEditl ,.eventEditInput
{
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: 18px;
}
.eventEditInput
{
    font-family:'Times New Roman', Times, serif;
    border-top: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
}
.eventEditBtn1
{
    padding: 10px;
  font-size: 15px;
  font-family:sans-serif;
  letter-spacing: 1px;
  margin-top: 20px;

  color: white;
  background-color: orange;
  border: none;
  margin-left: 180px;
  border-radius: 8px;
}
.eventEditBtn1:hover{
    cursor: pointer;
  background-color: #fd4c2d;
}
.eventEditBtn2
{
    padding: 10px;
  font-size: 15px;
  font-family:sans-serif;
  letter-spacing: 1px;

  color: white;
  background-color: orange;
  border: none;
  margin-left: 50px;
  border-radius: 8px;
}
.eventEditBtn2:hover{
    cursor: pointer;
  background-color: #fd4c2d;
}
 */

 
 /* .EventRegImg {
   height: 60vh;
   margin-left: 90vh;
   position: absolute;
   margin-top: 12vh;
   width: 80vh;
 } */
 .eventEditl {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:aliceblue;
  
  }
  
  .eventEditp
  {
    font-size: 30px;
    color: aliceblue;
    margin-top: 100px;
    /* text-align: center; */
    margin-left: 25vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .eventEditFull
  {
    background: rgb(202,139,10);
background: linear-gradient(0deg, rgba(202,139,10,1) 0%, rgba(0,0,0,1) 100%);
    min-height: 97vh;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  .eventEditInput
  {
    margin-top: 20px;
    font-size: 20px;
    border-color:orange;
    color: aliceblue;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: none;
    padding-left: 25px;
    /* padding: 10px; */
    margin-left: 10px;
    
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .eventEditTable{
    margin-left: 60vh;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    /* border-top: none; */
    /* height: 20px; */
  }
  .eventEditBtn1
  {
    margin-top: 50px;
    /* margin-left: 50vh */
    padding:11px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    /* border-radius: 20px; */
    background-color:orange;
    width: 100px;
    border-radius: 10px;
    border: none;
  
  
  }
  .eventEditBtn1:hover{
    cursor: pointer;
    /* background-color: transparent; */
    color: aliceblue;
  
  }
  
  .eventEditBtn2
  {
    margin-top: 50px;
    margin-left: 20vh;
    padding:11px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    /* border-radius: 20px; */
    background-color:orange;
    width: 100px;
    border-radius: 10px;

    border: none;
  
  
  }
  .eventEditBtn2:hover{
    cursor: pointer;
    /* background-color: transparent; */
    color: aliceblue;
  
  }
  
  .eventEditForm
  {
    margin-top: 20px;
    margin-left: 10vh;
  }
